.about-profile-picture-section {
    display: flex;
    align-items: center;
    padding: 20px 0px;
}

.profile-picture-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 17px 0px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
/*if ever things appear weird add white background colour*/
}

.profile-picture {
    width: 160px;
    height: 160px;
    border-radius: 100px;
    object-fit: fill;
}

.line-under-picture {
    width: 60%;
    height: 2px;
    background-color: black;
    margin: 10px 0;
}

.social-media-icons {
    width: 50px;
    margin-right: 10px;
    transition: transform 0.5s;
}

.social-media-icons:hover {
    transform: scale(1.2);
}

#about-me {
    background-color: lightcyan;
    padding: 0px 15px;
    height: fit-content;
    text-align: center;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);

}

#about-me h1 {
    font-size: 45px;
    margin-bottom: 0px;
}

#about-me h2 {
    font-weight: 600;
    margin-bottom: 0px;
    margin-top: 10px;
    font-size: 30px;
}

.about-paragraph {
    font-size: 17px;
}

@media (max-width: 768px) {
    .about-profile-picture-section {
        flex-direction: column;
        margin-top: 50px;
        margin-bottom: 10px;
    }

    .profile-picture-section {
        width: 100%;
        margin-bottom: 10px;

    }

    #about-me {
        width: 95%;
        padding: 8px;
    }

    .profile-picture {
        width: 120px;
        height: 120px;
    }

    .line-under-picture {
        width: 80%;
    }

    .social-media-icons {
        width: 40px;
    }

    #about-me h1 {
        font-size: 35px;
    }

    #about-me h2 {
        font-size: 25px;
    }

    .about-paragraph {
        font-size: 15px;
    }
}