.education-flex {
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin-bottom: 50px;
}

/*if ever things appear weird add white background colour*/
.education-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 40%;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);

}


.education-container h2 {
    display: inline-block;
    margin-bottom: 0px;
    margin-top: 0px;
}

.education-container p {
    display: inline-block;
    margin-bottom: 0px;
    font-size: 19px;

}

.vut-logo {
    width: 200px;
    height: 100px;
    object-fit: contain;
    margin-bottom: 0px;
    margin-top: 0px;
}

.certificates-container {
    display: flex;
    flex-direction: column;
    background-color: #1c2845;
    width: 50%;
    padding: 30px;
    color: rgb(255, 255, 255);
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
    margin-top: 50px;

}

.certificates-list {
    display: flex;
    align-items: center;    
    justify-content: space-between;
}

.view-certificate-button {
    border: none;
    color: white;
    background-color: #9B7E46;
    font-weight: bold;
    font-size: 14px;
    padding: 10px 25px ;
    border-radius: 5px;
    transition: opacity 0.5s;
}

.view-certificate-button:hover {
    opacity: 0.7;
    cursor: pointer;
}

