.education-flex {
    display: flex;
    align-items: center;
    justify-content:start;
    height: 500px;
}


.education-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: white;
    width: 50%;
    height: 497px;
}


.education-container h2 {
    display: inline-block;
    margin-bottom: 0px;
    margin-top: 0px;
}

.education-container p {
    display: inline-block;
    margin-bottom: 0px;
    font-size: 19px;

}

.vut-logo {
    width: 200px;
    height: 100px;
    object-fit: contain;
    margin-bottom: 0px;
    margin-top: 0px;
}

.certificates-container {
    display: flex;
    flex-direction: column;
    background-color: #1c2845;
    width: 50%;
    height: 500px;
    padding: 20px;
    color: rgb(255, 255, 255);
}

.certificates-list {
    display: flex;
    align-items: center;    
    justify-content: space-between;
}

.view-certificate-button {
    border: none;
    color: white;
    background-color: #9B7E46;
    font-weight: bold;
    font-size: 14px;
    padding: 10px 25px ;
    border-radius: 5px;
}