#projects h1 {
    text-align: center;
}

.projects-card {
    display: flex;
    justify-content: center;
}

.project-container {
    border: 1px solid black;
    padding: 20px;
    width: 550px;
    margin-right: 25px;
}

.view-download-project button {
    padding: 10px 20px;
    border: none;
    font-weight: bold;
    background-color: #d59245;
    border-radius: 5px;
    color: white;
}