.skills-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #9B7E46;
    padding: 20px;
    font-size: 17px;
    color: white;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);

}

.skills-container b {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .skills-container {
        padding: 10px;
        font-size: 15px;
    }
}




